header{
	padding-top: 20px;
}
header,.nav{
	display: flex;
	flex-direction:column;
}
.site-logo{
	width: 110px;
	align-self:center;
}
.nav{
	margin-top: 1.5em;
}
.nav a{
	display: block;
	border-bottom: 1px solid #ebecec;
	padding: 20px;
	text-align: center;
}
.nav a:hover{
	border-bottom: 1px solid #52bab3;
}

@media (min-width: 769px){
	.nav{
		margin-top: 3em;
		flex-direction:row;
		justify-content:space-between;
	}
	header{
		height: 200px;
		justify-content:flex-end;
	}
	.site-logo{
		width: 140px;
	}
	.nav a{
		border-bottom-color: transparent;

	}
}

@media (min-width: 1200px){
	.nav,header{
		flex-direction:row;
	}
	.site-logo{
		margin-right: auto;
	}
	.nav{
		margin: 0;
		align-self:center;
	}
	.nav li{
		margin-left: 0.65em;
		margin-right:0.65em;
	}
}